<html class="h-full">
<head>
    <title>Flux</title>
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="h-full bg-[#0b0b0f] p-12" style="font-family: 'Inter'">
<main class="grid min-h-full place-items-center bg-[#17181d]/50 rounded-2xl px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="font-thin tracking-widest text-lg text-gray-400">ERROR 404</p>
    <h1 class="mt-4 text-3xl font-thin tracking-tightest text-white sm:text-5xl">Page not found</h1>
    <p class="mt-6 text-base tracking-tight leading-7 text-gray-400">Sorry, we couldn’t find the page you’re looking for.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="../dashboard" type="button" class="transition inline-flex items-center rounded-full bg-blue-600 px-6 py-1.5 text-sm font-light text-white hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">                                                                                      
            Back to Overview
        </a>
    </div>
  </div>
</main>
</body>