<html class="h-full">
<head>
    <title>Flux</title>
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="h-full bg-gray-100 p-12" style="font-family: 'Inter'">
    <div class="flex min-h-full flex-col justify-center items-center">
      <div class="bg-white min-w-md px-32 py-12 rounded-2xl">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto h-16 w-auto" src="https://cdn.discordapp.com/attachments/1170429889829154970/1183833206827516156/CREDIT1.png?ex=6589c597&is=65775097&hm=1a6a66044518641679e073964dec5c671606ddd2ddf0fa65f6903cffc0b9fc1a&" alt="Your Company">
          <h2 class="mt-10 text-center text-2xl font-medium leading-9 tracking-tighter text-gray-800">Welcome back!</h2>
          <h2 class="text-center text-sm font-light tracking-tight text-gray-600">Choose how you would like to sign in.</h2>
        </div>
  
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex-col items-center justify-center">
          <a href="../login" type="submit" class="flex w-full justify-center transition inline-flex items-center rounded-full bg-blue-600 py-2 text-sm font-light text-white hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Sign in using Discord</a>
      
          <p class="mt-10 text-center text-sm text-gray-500">
            Having trouble?
            <a href="#" class="font-semibold leading-6 text-gray-700 hover:text-gray-900">Talk with Flux support</a>
          </p>
        </div>
      </div>
    </div>
</body>
